:host(){
    --dark-blue:#0b0d21;
    --light-white:#fafafa;
    --light-blue:#4f7df9;
    --light-pink:#e91e63;
    --size-16px:16px;
    --size-14px:14px;
    --size-26px:26px;
    --dull-blue: #1d1e33;

}
.app{
    min-height: 100vh;
    background-image: url(/sfsites/c/resource/bmiBackgroundImage);
    background-size: cover;
    background-repeat: no-repeat;
}
.box{
    margin: auto;
    max-width: 420px;
    text-align: center;
    background: var(--dark-blue);
    color: var(--light-white);
    padding: var(--size-16px);
    border-radius: 38px;
}
h1{
    font-size: 36px;
    padding: 20px 0;
    font-weight: bold;
}
.info-wrapper{
    background: var(--dull-blue);
    border-radius: 38px;
    padding: var(--size-14px);
    font-size: var(--size-14px);
}
h2{
    color: var(--light-pink);
    font-size: 20px;
    font-weight: bold;
}
label{
    color: var(--light-white);
    font-size: 20px;
}
input{
    color: var(--dark-blue);
    padding: 8px;
    font-size: var(--size-16px);
}
.custom-button{
    font-size: var(--size-16px);
    background-color: var(--light-pink);
    color: var(--light-white);
    padding: 12px;
    border-color: var(--light-pink);
}
.result-value{
    font-size: 30px;
    color: var(--light-blue);
}